.Header{
    background-color: yellow;
    color: blue;
    text-align: center;
    
    
}
body {
    background-image: url(showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
    

.Article{
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    
}
.titles{    
    text-align: center;
}
.text{
    text-align: center;
}

.pictures{
    text-align: center;
}