.Header{
    background-color: yellow;
    color: blue;
    text-align: center;
    
}
.Article{
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
}
.titles{    
    text-align: center;
}
.text{
    text-align: center;
}